body { font-family: Arial, Helvetica, sans-serif }
#foil { height: 250px; cursor: pointer; }
#cards img { height: 500px; }
/*
#cards img:nth-child(-n+2) { height: 500px; }
#cards.done img { height: 250px; }
*/
#cards { 
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 300px;
	overflow: scroll;
}
li.Common { color: gray; }
li.Uncommon { color: green; }
li.Rare { color: orange; }
li.Super-Rare { color: red; }