body { font-family: Arial, Helvetica, sans-serif }
#left-col {
	width: 260px;
	float: left;
	padding: 10px;
}
#foil { height: 250px; cursor: pointer; }
#cards img { height: 500px; }
/* #cards.done img { height: 250px; } */
#dice { width: 240px; }
#dice img {
	border-radius: 5px;
	margin: 1px;
}
#cards {
	width: 720px; 
	float: left;
	padding: 10px;
}
li.Common { color: gray; }
li.Uncommon { color: green; }
li.Rare { color: orange; }
li.Super-Rare { color: red; }